<% if user_signed_in? %>
  <% if animation.tier_lists.find_by(user_id: current_user.id).present? %>
    <%= link_to animation_path(animation.id), class: "btn btn-ghost btn-xs text-accent", data: { turbo_method: "get", turbo_confirm: "TierListの編集はアニメ詳細画面から行ってください", turbo_frame: "_top" } do %>
      <i class="fa-solid fa-square-plus text-2xl text-accent"></i>
      <p class="text-accent"><%= animation.tier_lists.count %></p>
    <% end %>
  <% else %>
    <button onclick="tier_list_select_<%= animation.id %>.showModal()">
      <label tabindex="0" class="btn btn-ghost btn-xs">
        <i class="fa-solid fa-square-plus text-2xl"></i>
        <p><%= animation.tier_lists.count %></p>
      </label>
    </button>
  <% end %>
<% else %>
  <label tabindex="0" class="btn btn-ghost btn-xs">
    <i class="fa-solid fa-square-plus text-2xl"></i>
    <p><%= animation.tier_lists.count %></p>
  </label>
<% end %>

<dialog id="tier_list_select_<%= animation.id %>" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <%= render "tier_lists/new", animation: animation %>
  </div>
</dialog>