<div class="dropdown">
  <% if user_signed_in? %>
    <% if animations.tier_lists.find_by(user_id: current_user.id).present? || animations.tier_list_entiers.find_by(user_id: current_user.id).present? %>
      <label tabindex="0" class="btn btn-neutral">
        <i class="fa-solid fa-square-plus text-2xl text-accent"></i>
        <p class="text-accent"><%= animation.tier_lists.count + animation.tier_list_entiers.count %></p>
      </label>
    <% else %>
      <label tabindex="0" class="btn btn-neutral">
        <i class="fa-solid fa-square-plus text-2xl"></i>
        <p><%= animation.tier_lists.count + animation.tier_list_entiers.count %></p>
      </label>
    <% end %>
  <% else %>
    <label tabindex="0" class="btn btn-neutral">
      <i class="fa-solid fa-square-plus text-2xl"></i>
      <p><%= animation.tier_lists.count + animation.tier_list_entiers.count %></p>
    </label>
  <% end %>
  <ul tabindex="0" class="dropdown-content z-50 menu p-2 shadow bg-neutral rounded-box w-52 m-1">
    <li>
      <% if user_signed_in? && animations.tier_lists.find_by(user_id: current_user.id).present? %>
        <%= render "tier_lists/edit", animation: animation %>
      <% else %>
        <%= render "tier_lists/new", animation: animation %>
      <% end %>
    </li>
    <li>
      <% if user_signed_in? && animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
        <%= render "tier_list_entiers/edit", animation: animation %>
      <% else %>
        <%= render "tier_list_entiers/new", animation: animation %>
      <% end %>
    </li>
  </ul>
</div>