<div class="dropdown z-10">
  <% if user_signed_in? %>
    <% if animation.tier_lists.find_by(user_id: current_user.id).present? || animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
      <label tabindex="0" class="btn btn-ghost btn-xs">
        <i class="fa-solid fa-square-plus text-2xl text-accent"></i>
        <p class="text-accent"><%= animation.tier_lists.count + animation.tier_list_entiers.count %></p>
      </label>
    <% else %>
      <label tabindex="0" class="btn btn-ghost btn-xs">
        <i class="fa-solid fa-square-plus text-2xl"></i>
        <p><%= animation.tier_lists.count + animation.tier_list_entiers.count %></p>
      </label>
    <% end %>
  <% else %>
    <label tabindex="0" class="btn btn-ghost btn-xs">
      <i class="fa-solid fa-square-plus text-2xl"></i>
      <p><%= animation.tier_lists.count + animation.tier_list_entiers.count %></p>
    </label>
  <% end %>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-neutral rounded-box w-52 m-1 overflow-visible">
    <li>
      <% if user_signed_in? && animation.tier_lists.find_by(user_id: current_user.id).present? %>
        <%= link_to "放送クール", edit_animation_tier_list_path(animation_id: animation.id, id: animation.tier_lists), class: "text-accent", data: { turbo_frame: "_top" } %>
      <% else %>
        <%= link_to "放送クール", new_animation_tier_list_path(animation.id), class: "text-neutral-content", data: { turbo_frame: "_top" } %>
      <% end %>
    </li>
    <li>
      <% if user_signed_in? && animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
        <%= link_to "全期間", edit_animation_tier_list_entier_path(animation_id: animation.id, id: animation.tier_list_entiers), class: "text-accent", data: { turbo_frame: "_top" } %>
      <% else %>
        <%= link_to "全期間", new_animation_tier_list_entier_path(animation.id), class: "text-neutral-content", data: { turbo_frame: "_top" } %>
      <% end %>
    </li>
  </ul>
</div>