<div class="form-control">
  <%= search_form_for @q, url: search_results_animations_path do |f| %>
    <form>
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
      <div class="relative">
        <%= f.search_field :title_cont, class: "input input-bordered", placeholder: "タイトルで検索", value: "" %>
        <%= f.date_select :year, discard_day: true, discard_month: true, include_blank: true %>
        <%= sort_link(@q, :updated_at, '新着順' ) %>
      </div>
    </form>
  <% end %>
</div>

<%= sort_link(@q, :title, '新着順' ) %>
<%= sort_link(@q, :bookmarks_count, '新着順' ) %>
<%= sort_link(@q, :tier_average, '新着順' ) %>

<%= turbo_frame_tag "animations-list" do %>
  <div class="py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="primary-content text-2xl lg:text-3xl font-bold mb-4 md:mb-6 pl-4">アニメ一覧</h2>
      </div>
      <!-- text - end -->

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <% @animations.each do |animation| %>
          <div>
            <%= link_to image_tag(animation.image, class: "w-full h-full object-cover object-center group-hover:scale-110 transition duration-200", alt: animation.title), animation_path(animation.id), class: "group h-36 block bg-gray-100 rounded-t-lg overflow-hidden relative", data: { turbo_frame: "_top" } %>
            <div class="flex justify-between items-start bg-base-200 rounded-b-lg gap-2 p-4">
              <div class="flex flex-col truncate">
                <div class="flex">
                  <div class="relative">
                    <div class="text-gray-500 text-xl">★★★★★</div>
                  </div>
                </div>
                <%= link_to animation.title, animation_path(animation.id), class: "secondary-content hover:base-content lg:text-lg font-semibold transition duration-100 mt-1 truncate", data: { turbo_frame: "_top" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= paginate @animations %>

<% end %>
