<div class="my-10">

  <div class="text-right mb-4">
    <select onChange="location.href=value;" class="select select-bordered w-fit" value="<%= params[:q][:sorts] %>">
      <option class="">並べ替え</option>
      <option class="" value="<%= sort_by_sort_url(sort_url(@q, :bookmarks_count), 'bookmarks_count+desc') %>">ブックマークが多い順</option>
      <option class="" value="<%= sort_by_sort_url(sort_url(@q, :tier_average), 'tier_average+desc') %>">Tierが高い順</option>
    </select>
  </div>

  <%= turbo_frame_tag "animation-page-#{@animations.current_page}" do %>

    <%= render "search_results_pc", animations: @animations %>

    <%= turbo_frame_tag "animation-page-#{@animations.next_page}", loading: :lazy, src: path_to_next_page(@animations) %>

  <% end %>

</div>