<div class="body-font overflow-hidden pt-12 pb-4">
  <% @animations.each do |animation| %>
  <% @animations_detail.each do |animationD| %>
    <div class="container px-5 mx-auto">
      <div class="mx-auto flex flex-wrap">
        <div class="lg:w-2/5 w-full h-full">
          <%= image_tag animation.image, alt: animation.title, class: "object-cover object-center rounded" %>
          <div class="flex justify-center py-2">

          <div class="dropdown">
            <% if user_signed_in? %>
              <% if animation.tier_lists.find_by(user_id: current_user.id).present? || animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
                <label tabindex="0" class="btn btn-neutral">
                  <i class="fa-solid fa-square-plus text-2xl text-accent"></i>
                  <p class="text-accent"><%= @animation.tier_lists.count + @animation.tier_list_entiers.count %></p>
                </label>
              <% else %>
                <label tabindex="0" class="btn btn-neutral">
                  <i class="fa-solid fa-square-plus text-2xl"></i>
                  <p><%= @animation.tier_lists.count + @animation.tier_list_entiers.count %></p>
                </label>
              <% end %>
            <% else %>
              <label tabindex="0" class="btn btn-neutral">
                <i class="fa-solid fa-square-plus text-2xl"></i>
                <p><%= @animation.tier_lists.count + @animation.tier_list_entiers.count %></p>
              </label>
            <% end %>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-neutral rounded-box w-52 m-1">
              <li>
                <% if user_signed_in? && animation.tier_lists.find_by(user_id: current_user.id).present? %>
                  <%= link_to "放送クール", edit_animation_tier_list_path(animation_id: animation.id, id: @tier_list.id), class: "text-accent" %>
                <% else %>
                  <%= link_to "放送クール", new_animation_tier_list_path(animation.id), class: "text-neutral-content" %>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? && animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
                  <%= link_to "全期間", edit_animation_tier_list_entier_path(animation_id: animation.id, id: @tier_list_entier.id), class: "text-accent" %>
                <% else %>
                  <%= link_to "全期間", new_animation_tier_list_entier_path(animation.id), class: "text-neutral-content" %>
                <% end %>
              </li>
            </ul>
          </div>

          <%= render 'bookmark_button', animation: animation %>

          <%= link_to animation.official_site_url, class: "btn btn-neutral" do %>
            <i class="fa-solid fa-pager text-2xl"></i>
          <% end %>
          <%= link_to "https://twitter.com/#{animation.twitter_username}", class: "btn btn-neutral" do %>
            <i class="fa-brands fa-x-twitter text-2xl"></i>
          <% end %>

          </div>
        </div>
        <div class="lg:w-3/5 w-full lg:pl-10 lg:py-2 mt-6 lg:mt-0">
          <h1 class="text-gray-300 text-2xl lg:text-3xl title-font font-medium mb-1 text-center lg:text-left"><%= animation.title %></h1>
          <p class="text-gray-400 leading-relaxed py-2 text-center lg:text-left"><%= animation.season_name_text%> | <%= animation.media_text %></p>
          <% if @tier_list.present? || @tier_list_entier.present? %>
            <div class="tracking-tighter ml-1 text-center lg:text-left" style="<%= @animation.total_tier_color(@animation.tier_lists.average(:tier_score).to_f, @animation.tier_list_entiers.average(:tier_score).to_f) %>">
              <span class="text-4xl font-bold">
                <%= @animation.total_tier_score_change(@animation.tier_lists.average(:tier_score).to_f, @animation.tier_list_entiers.average(:tier_score).to_f) %>
              </span>
              <span class="text-2xl font-bold -ml-1.5">
                Tier
              </span>
            </div>
            <% else %>
              <div class="ml-2 text-center lg:text-left">
                <span class="text-2xl font-bold text-neutral-content">
                  ー Tier
                </span>
              </div>
          <% end %>

          <div class="mt-4 lg:mt-0">
            <p class="text-gray-400 leading-relaxed pt-4 pb-2 font-black text-center lg:text-left">スタッフ</p>
            <% animationD.staffs.each do |staff| %>
              <div class="inline-block mt-2 mr-1">
                <span class="text-sm font-normal py-1 px-2 uppercase rounded text-gray-400 bg-gray-700 uppercase last:mr-0 mr-1 mt-1"><%= staff[:role] %> : <%= staff[:name] %></span>
              </div>
            <% end %>
            <p class="text-gray-400 leading-relaxed pt-4 pb-2 font-black text-center lg:text-left">キャスト</p>
            <% animationD.casts.each do |cast| %>
              <div class="inline-block mt-2 mr-1">
                <span class="text-sm font-normal py-1 px-2 uppercase rounded text-gray-400 bg-gray-700 uppercase last:mr-0"><%= cast[:name] %>(<%= cast[:character] %>)</span>
              </div>
            <% end %>
          </div>

          <div class="mt-10">

            <div class="mb-4">
              <p class="text-2xl lg:text-xl font-bold text-center lg:text-left"><%= @tier_lists.count + @tier_list_entiers.count %>件のTierList追加履歴・コメント</p>
            </div>

            <% @tier_list_mix.each do |t| %>
              <div class="">
                <div class="flex flex-col gap-3 py-2 px-3">
                  <div class="flex items-center">
                    <div class="avatar h-11 w-11 lg:w-12 lg:h-12">
                      <%= link_to user_path(t.user.id) do %>
                        <%= image_tag t.user.user_image.thumb.url, class: "rounded-full bg-base-300" %>
                      <% end %>
                    </div>
                  <div class="ml-2">
                    <%= link_to t.user.user_name, user_path(t.user.id), class: "block text-base font-bold link link-hover" %>
                    <span class="block text-sm"><%= t.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
                  </div>
                </div>

                <!-- stars - start -->
                <div class="">
                  <span class="badge text-base font-bold py-3" style="<%= @animation.tier_color(t.tier_score) %>">
                    <%= @animation.tier_score_change(t.tier_score) %> Tier
                  </span>
                  <%# 表示する方法を思いついたら実装
                  <span class="badge text-base font-bold py-3">
                    全期間
                  </span>
                  %>
                  <% if t.spoiler == true %>
                    <div class="collapse">
                      <input type="checkbox" />
                      <div class="collapse-title text-red-400">このコメントはネタバレが含まれます</div>
                      <div class="collapse-content">
                        <p><%= safe_join(t.comment.split("\n"),tag(:br)) %></p>
                      </div>
                    </div>
                  <% else %>
                    <div class="p-4">
                      <p><%= safe_join(t.comment.split("\n"),tag(:br)) %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>