<div class="">
  <% if bookmarks.present? %>
    <% bookmarks.each do |b| %>
      <div class="flex flex-col gap-3 py-4 md:py-8">
        <div class="flex items-center">
          <div class="sm:w-1/3 w-1/2 h-auto mr-3">
            <%= link_to animation_path(b.animation.id) do %>
              <%= image_tag b.animation.image, class: "object-cover object-center rounded" %>
            <% end %>
          </div>
          <div class="flex flex-col sm:w-2/3 w-1/2">
            <div>
              <%= link_to b.animation.title, animation_path(b.animation.id), class: "block text-base font-bold link link-hover" %>
              <span class="block text-sm"><%= b.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
            </div>
            
            <div class="flex py-2">
              <div class="dropdown">
                <% if user_signed_in? %>
                  <% if b.animation.tier_lists.find_by(user_id: current_user.id).present? || b.animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
                    <label tabindex="0" class="btn btn-ghost btn-xs">
                      <i class="fa-solid fa-square-plus text-xl text-accent"></i>
                      <p class="text-accent"><%= b.animation.tier_lists.count + b.animation.tier_list_entiers.count %></p>
                    </label>
                  <% else %>
                    <label tabindex="0" class="btn btn-ghost btn-xs">
                      <i class="fa-solid fa-square-plus text-xl"></i>
                      <p><%= b.animation.tier_lists.count + b.animation.tier_list_entiers.count %></p>
                    </label>
                  <% end %>
                <% else %>
                  <label tabindex="0" class="btn btn-ghost btn-xs">
                    <i class="fa-solid fa-square-plus text-xl"></i>
                    <p><%= b.animation.tier_lists.count + b.animation.tier_list_entiers.count %></p>
                  </label>
                <% end %>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-neutral rounded-box w-52 m-1">
                  <li>
                    <% if user_signed_in? && b.animation.tier_lists.find_by(user_id: current_user.id).present? %>
                      <%= link_to "放送クール", edit_animation_tier_list_path(animation_id: b.animation.id, id: b.animation.tier_lists), class: "text-accent" %>
                    <% else %>
                      <%= link_to "放送クール", new_animation_tier_list_path(b.animation.id), class: "text-neutral-content" %>
                    <% end %>
                  </li>
                  <li>
                    <% if user_signed_in? && b.animation.tier_list_entiers.find_by(user_id: current_user.id).present? %>
                      <%= link_to "全期間", edit_animation_tier_list_entier_path(animation_id: b.animation.id, id: b.animation.tier_lists), class: "text-accent" %>
                    <% else %>
                      <%= link_to "全期間", new_animation_tier_list_entier_path(b.animation.id), class: "text-neutral-content" %>
                    <% end %>
                  </li>
                </ul>
              </div>
              <% if user_signed_in? %>
                <%# <%= render "animations/bookmark_button", animation: b.animation.id %> %>
              <% else %>
                <%= link_to animation_bookmarks_path(b.animation.id), class: "btn btn-ghost btn-xs", data: { "turbo-method": :post } do %>
                  <i class="fa-solid fa-bookmark text-xl"></i>
                  <p><%= b.animation.bookmarks.count %></p>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <p class="my-6 text-center">ブックマークが存在しません</p>
  <% end %>
</div>