<div class="pt-4">
  <% if tier_list_mix.pluck(:comment).present? %>
    <% tier_list_mix.each do |t| %>
      <% if t.comment.present? %>
        <div class="flex flex-col gap-3">
          <div class="flex items-center">
            <div class="sm:w-1/3 w-1/2 mr-3">
              <%= link_to animation_path(t.animation.id), data: { turbo_frame: "_top" } do %>
                <%= image_tag t.animation.image, class: "object-cover object-center rounded w-full h-20 sm:h-24" %>
              <% end %>
            </div>
            <div class="flex flex-col sm:w-2/3 w-1/2">
              <div>
                <%= link_to t.animation.title, animation_path(t.animation.id), class: "block text-sm font-bold link link-hover truncate", data: { turbo_frame: "_top" } %>
                <span class="block text-sm"><%= t.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
              <div class="flex">
                <span class="badge text-base font-bold py-3 sm:mt-3 mt-2 mr-1" style="<%= t.animation.tier_color(t.tier_score) %>">
                  <%= t.animation.tier_score_change(t.tier_score) %> Tier
                </span>
                <% if t.class_name == @tier_list_new.class_name %>
                  <span class="badge text-base font-bold py-3 sm:mt-3 mt-2">放送クール</span>
                <% else %>
                  <span class="badge text-base font-bold py-3 sm:mt-3 mt-2">全期間</span>
                <% end %>
              </div>
            </div>
          </div>

          <!-- stars - start -->
          <div class="pb-2">
            <% if t.spoiler == true %>
              <div class="collapse">
                <input type="checkbox" />
                <div class="collapse-title text-red-400">このコメントはネタバレが含まれます</div>
                <div class="collapse-content">
                  <p><%= safe_join(t.comment.split("\n"),tag(:br)) %></p>
                </div>
              </div>
            <% else %>
              <div class="p-4">
                <p><%= safe_join(t.comment.split("\n"),tag(:br)) %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="my-6 text-center">レビューが存在しません</p>
  <% end %>
</div>