<div class="overflow-x-scroll">
  <table class="w-max">
    <tbody>
      <tr>
        <th class="bg-red-400 w-12 h-12 sm:w-24 sm:h-24 text-base-300 text-xl font-bold border-b">SS</th>
        <%= render "animation_modal", tier_list: tier_list_entiers.where(tier_list_entiers: { tier_score: 5 }) %>
      </tr>
      <tr>
        <th class="bg-yellow-500 w-12 h-12 sm:w-24 sm:h-24 text-base-300 text-xl font-bold border-b">S</th>
        <%= render "animation_modal", tier_list: tier_list_entiers.where(tier_list_entiers: { tier_score: 4 }) %>
      </tr>
      <tr>
        <th class="bg-yellow-300 w-12 h-12 sm:w-24 sm:h-24 text-base-300 text-xl font-bold border-b">A</th>
        <%= render "animation_modal", tier_list: tier_list_entiers.where(tier_list_entiers: { tier_score: 3 }) %>
      </tr>
      <tr>
        <th class="bg-green-400 w-12 h-12 sm:w- sm:h-24 text-base-300 text-xl font-bold border-b">B</th>
        <%= render "animation_modal", tier_list: tier_list_entiers.where(tier_list_entiers: { tier_score: 2 }) %>
      </tr>
      <tr>
        <th class="bg-blue-400 w-12 h-12 sm:w-24 sm:h-24 text-base-300 text-xl font-bold border-b">C</th>
        <%= render "animation_modal", tier_list: tier_list_entiers.where(tier_list_entiers: { tier_score: 1 }) %>
      </tr>
    </tbody>
  </table>
</div>