<%= turbo_frame_tag @user do %>
  <div class="overflow-x-scroll">
    <table class="w-max">
      <tbody>
        <tr>
          <th class="bg-red-400 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">SS</th>
          <%= render "animation_modal", tier_list: ss_tier %>
        </tr>
        <tr>
          <th class="bg-yellow-500 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">S</th>
          <%= render "animation_modal", tier_list: s_tier %>
        </tr>
        <tr>
          <th class="bg-yellow-300 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">A</th>
          <%= render "animation_modal", tier_list: a_tier %>
        </tr>
        <tr>
          <th class="bg-green-400 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">B</th>
          <%= render "animation_modal", tier_list: b_tier %>
        </tr>
        <tr>
          <th class="bg-blue-400 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">C</th>
          <%= render "animation_modal", tier_list: c_tier %>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>