<div class="antialiased">
  <div class="container mx-auto my-32">
    <div>
      <div class="relative w-5/6 md:w-5/6  lg:w-7/12 xl:w-5/12 mx-auto pb-4">
        <div class="flex justify-center">
          <%= image_tag @user.user_image, class: "rounded-full mx-auto absolute -top-20 w-32 h-32 transition duration-200 transform hover:scale-110" %>
        </div>
        <div class="mt-12">
          <h1 class="font-bold text-center text-3xl text-primary-content"><%= @user.user_name %></h1>
          <p class="text-center text-sm text-neutral-content font-medium">@<%= @user.user_id %></p>
          <div class="px-6 my-4 text-center">
            <p>AnimeTierListの公式アカウントです。</p>
          </div>
          <div class="flex justify-between items-center my-5 px-6">
            <p class="font-medium text-base-content text-sm text-center w-full py-3">TierList<br>100</p>
            <p class="font-medium text-base-content text-sm text-center w-full py-3">フォロー<br>10</p>
            <p class="font-medium text-base-content text-sm text-center w-full py-3">フォロワー<br>1000</p>
          </div>
          <div class="my-5 px-6">
            <button class="btn btn-primary w-full">
              <%= link_to 'フォローする', '#' %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-x-scroll">
  <table class="w-max">
    <tbody>
      <tr>
        <th class="bg-red-400 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">SS</th>
        <%= render "animation_modal", tier_list: @ss_tier %>
      </tr>
      <tr>
        <th class="bg-yellow-500 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">S</th>
        <%= render "animation_modal", tier_list: @s_tier %>
      </tr>
      <tr>
        <th class="bg-yellow-300 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">A</th>
        <%= render "animation_modal", tier_list: @a_tier %>
      </tr>
      <tr>
        <th class="bg-green-400 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">B</th>
        <%= render "animation_modal", tier_list: @b_tier %>
      </tr>
      <tr>
        <th class="bg-blue-400 w-12 sm:w-24 text-base-300 text-xl font-bold border-b">C</th>
        <%= render "animation_modal", tier_list: @c_tier %>
      </tr>
    </tbody>
  </table>
</div>