<div class="antialiased">
  <div class="container mx-auto my-8">
    <div>
      <div class="w-5/6 md:w-5/6  lg:w-7/12 xl:w-5/12 mx-auto pb-4">

        <div class="">
          <div class="mb-12 h-full">
            <%= image_tag @user.header_image.thumb.url, class: "rounded-3xl w-full h-40 sm:h-72 md:h-80 object-center object-cover" %>
          </div>
          <div class="flex justify-center relative">
            <%= image_tag @user.user_image.thumb.url, class: "rounded-full mx-auto absolute w-28 h-28 sm:w-32 sm:h-32 object-cover border border-neutral -top-24 bg-base-300" %>
          </div>
        </div>

        <div class="mt-20 sm:mt-12 md:mt-10">
          <h1 class="font-bold text-center text-3xl text-primary-content"><%= @user.user_name %></h1>
          <p class="text-center text-sm text-neutral-content font-medium">@<%= @user.user_id %></p>
          <div class="px-6 my-4 text-center">
            <% if @user.profile.present? %>
            <p><%= safe_join(@user.profile.split("\n"),tag(:br)) %></p>
            <% end %>
          </div>
          <div class="flex justify-between items-center my-5 px-6">
            <p class="font-medium text-base-content text-sm text-center w-1/3 py-3">TierList<br><%= @tier_lists.count %></p>
            <div class="w-1/3">
              <%= render "relationships/follow_list" %>
            </div>
            <div class="w-1/3">
              <%= render "relationships/follower_list" %>
            </div>
          </div>
          <div class="my-5 px-6">
            <%= render "relationships/relationship_button", user: @user %>
          </div>



        </div>
      </div>

      <%= turbo_frame_tag "user-detail" do %>
        <div data-controller="tab">
          <div class="tabs mt-8 w-full md:w-5/6  lg:w-7/12 xl:w-5/12 mx-auto">
            <a class="tab tab-bordered w-1/3 tab-active" aria-current="page" data-tab-target="tab" data-action="tab#tabClick">TierList</a>
            <a class="tab tab-bordered w-1/3 not-active" data-tab-target="tab" data-action="tab#tabClick">レビュー</a>
            <a class="tab tab-bordered w-1/3 not-active" data-tab-target="tab" data-action="tab#tabClick">ブックマーク</a>
          </div>
          <div class="" data-tab-target="content">

            <% if @tier_lists.present? %>

              <div class="text-center pt-4 pb-2">
                <%= search_form_for @q, url: user_path do |f| %>
                  <%= f.select :year_eq, [*2020..2023].sort.reverse, {}, class: "select select-bordered w-fit" %>
                  <%= f.select :season_eq, Animation.seasons.keys.map{|season|[I18n.t("enums.animation.season.#{season}"), Animation.seasons[season]]}, {}, class: "select select-bordered w-fit" %>
                  <%= f.submit "絞り込み", class: "btn btn-primary w-fit" %>
                <% end %>
              </div>

              <%= render "tier_list", tier_lists: @search_results %>

            <% else %>
              <p class="text-center">TierListがありません</p>
            <% end %>

          </div>
          <div class="hidden w-5/6 md:w-5/6  lg:w-7/12 xl:w-5/12 mx-auto" data-tab-target="content">
            <%= render "comment", tier_lists: @tier_lists %>
          </div>
          <div class="hidden w-5/6 md:w-5/6  lg:w-7/12 xl:w-5/12 mx-auto" data-tab-target="content">
            <%= render "bookmark", {bookmarks: @bookmarks, animation: @animation, user: @user} %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>