<div>
  <%= form_with model: @tier_list_edit, url: animation_tier_list_path(animation_id: animation.id, id: @tier_list_edit.id), local: true do |f| %>
    <%= f.hidden_field :animation_id, value: @tier_list.animation_id  %>
    <h2 class="text-primary-content text-3xl title-font font-medium text-center pb-8">TierListを編集</h2>
    <div class="py-10">
      <div class="mx-3">
        <%= f.range_field :tier_score, id: "range", min: "1", max: "5", value: @tier_list.tier_score, step: "1", class: "range range-primary" %>
      </div>
      <div class="w-full flex justify-between text-xs px-3 text-center">
        <span class="text-base leading-none text-green-500">C<br>tier</span>
        <span class="text-base leading-none text-yellow-300">B<br>tier</span>
        <span class="text-base leading-none text-yellow-500">A<br>tier</span>
        <span class="text-base leading-none text-yellow-600">S<br>tier</span>
        <span class="text-base leading-none text-red-500">SS<br>tier</span>
      </div>
    </div>
    <div class="py-4">
      <%= f.text_area :comment, placeholder: @tier_list.comment, class: "textarea textarea-bordered textarea-lg w-full h-60" %>
    </div>
    <div class="pb-4 text-center">
      <%= f.hidden_field :spoiler, :value => false %>
      <%= f.check_box :spoiler, { class: "checkbox checkbox-primary mr-1" }, true, false %>
      <%= f.label :spoiler, "コメントがネタバレになる場合はチェックを入れてください" %>
    </div>
    <div class="mx-auto w-fit">
      <%= f.submit "TierListを編集する", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  <div class="text-center">
    <button class="font-bold text-red-400 pt-2" onclick="tier_list_edit_destroy_<%= animation.id %>.showModal()">削除</button>
  </div>
  <dialog id="tier_list_edit_destroy_<%= animation.id %>" class="modal">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg">TierListから削除しますか？</h3>
      <div class="modal-action">
        <button class="btn btn-neutral">キャンセル</button>
        <%= link_to "削除する", animation_tier_list_path(animation_id: animation.id, id: @tier_list_edit.id), data: { turbo_method: :delete }, class: "btn btn-neutral" %>
      </div>
    </form>
  </dialog>
</div>