<div class="mb-16">
  <div class="my-8">
    <h2 class="text-center text-primary-content text-xl sm:text-2xl ">今期のアニメ</h2>
    <div class="border-b-2 border-primary-content w-4 mx-auto mt-2"></div>
  </div>

  <%= render "animations/animation_lists", animations: @current_animations %>

  <div class="text-center mt-4">
    <%= link_to "もっと見る", "animations?q%5Bs%5D=id+asc&q%5Bseason_eq%5D=3&q%5Btitle_or_title_kana_cont%5D=&q%5Byear_eq%5D=2023", class: "btn btn-md btn-wide" %>
  </div>
</div>

<div class="mb-16">
  <div class="my-8">
    <h2 class="text-center text-primary-content text-xl sm:text-2xl ">前期のアニメ</h2>
    <div class="border-b-2 border-primary-content w-4 mx-auto mt-2"></div>
  </div>

  <%= render "animations/animation_lists", animations: @previous_animations %>

  <div class="text-center mt-4">
    <%= link_to "もっと見る", "animations?q%5Bs%5D=id+asc&q%5Bseason_eq%5D=2&q%5Btitle_or_title_kana_cont%5D=&q%5Byear_eq%5D=2023", class: "btn btn-md btn-wide" %>
  </div>
</div>

<div class="mb-8">
  <div class="my-8">
    <h2 class="text-center text-primary-content text-xl sm:text-2xl ">直近でTierListに追加されたアニメ</h2>
    <div class="border-b-2 border-primary-content w-4 mx-auto mt-2"></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 gap-6 mx-6">
    <% @tier_lists.each do |tier_list| %>

        <div class="bg-base-200 rounded-lg h-auto p-4">

          <div class="flex items-center">
            <%= link_to image_tag(tier_list.user.user_image.thumb.url, class: "rounded-full bg-base-300"), user_path(tier_list.user), class: "avatar w-12 h-12" %>
            <div class="flex flex-col ml-3">
              <%= link_to tier_list.user.user_name, user_path(tier_list.user), class: "link link-hover text-accent-content w-fit" %>
              <p><%= "#{time_ago_in_words(tier_list.created_at)}前" %></p>
            </div>
          </div>

          <div class="flex flex-col p-2">
            <%= link_to animation_path(tier_list.animation), class: "link link-hover w-fit" do %>
              <p class="text-accent-content text-lg inline"><%= tier_list.animation.title %></p>
              <p class="text-accent-content text-base inline">（<%= tier_list.animation.season_name_text %>）</p>
            <% end %>
            <div class="flex">
              <span class="badge text-base font-bold py-3 mt-1 mr-1" style="<%= tier_list.animation.tier_color(tier_list.animation.tier_average) %>">
                <%= tier_list.animation.tier_score_change(tier_list.animation.tier_average) %> Tier
              </span>
            </div>
            <% if tier_list.spoiler == true %>
              <div class="collapse">
                <input type="checkbox" />
                <div class="collapse-title text-red-400">このコメントはネタバレが含まれます</div>
                <div class="collapse-content">
                  <p class="whitespace-pre-wrap"><%= tier_list.comment.truncate(100) %></p>
                  <% if tier_list.comment.length > 100 %>
                    <div class="mt-2">
                      <%= link_to "続きを読む", tier_list_path(tier_list), class: "link link-accent" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% else %>
              <% if tier_list.comment.blank? %>
              <% else %>
                <div class="pt-2 px-4">
                  <p class="whitespace-pre-wrap"><%= tier_list.comment.truncate(100) %></p>
                  <% if tier_list.comment.length > 100 %>
                    <div class="mt-2">
                      <%= link_to "続きを読む", tier_list_path(tier_list), class: "link link-accent" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
    <% end %>
  </div>
</div>